---
layout: default
title: kyuan lab
categories:
 - home
---

<div class="row">
	<div class="col-md-12">
		<img src="/images/kylab_full.svg" style='height: 50%; width: 50%; object-fit: contain'>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
      <p>
		The K. Yuan Lab at the <a href="https://www.gla.ac.uk/schools/computing/">
		School of Computing Science, University of Glasgow</a> works at the
		interface between machine learning and computational biology. 
		We develop novel machine learning and statistical methods to genomic and image data 
		to answer questions in cancer and virus evolution. 
		Within the School of Computing Science, 
		we are part of <a href="http://www.dcs.gla.ac.uk/idi/"> 
		Inference, Dynamics and Interaction Research Group</a> and
		the <a href="https://www.gla.ac.uk/schools/computing/research/researchsections/ida-section/"> 
		Information, Data and Analysis section</a>. At Glasgow, we are also affilated with the <a 
		href="https://www.gla.ac.uk/researchinstitutes/cancersciences/"> 
		Institute of Cancer Sciences</a>.
      </p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>


<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>